h5{
    font-family: "Roboto", sans-serif;
    color:black;
}

.card {
    margin: 10px;
}
#estilo__link{
    text-decoration: none;
    color:black;
}
.card-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


