footer {
    padding: 20px 10px 20px 10px ;
    height: 70px;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-between;
    margin-top: 40rem;
    position:relative;
    bottom: 0;
    width:100%;    
}
    
footer p {
    font-family: Roboto, sans serif;
    color:whitesmoke;
}
  
footer #footer__redes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-around;
    color:whitesmoke;
}

#estilo__link {
    text-decoration: none;
    color:white;
    margin-right: 3px;
}
  
#estilo__link :hover {
    color: #a08f8e;
}

@media only screen and (max-width: 768px) {
    footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    footer #footer__redes p {
      font-size: smaller;
    }
}

