footer {
    margin-top: 50px;
    padding-bottom: 30px;
    background: -webkit-gradient(linear, left bottom, left top, from(peachpuff), to(white));
    background: linear-gradient(0deg, peachpuff 0%, white 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-bottom: 0px;
}
  
footer h6 {
    color: black;
}
  
footer p {
    font-family: Roboto, sans serif;
}
  
footer #footer__redes {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
  
footer #footer__redes i {
    margin-bottom: 10px;
    font-size: small;
}
  
footer #footer__redes a {
    margin-bottom: 3px;
    color: black;
    font-family: Roboto, sans serif;
}
  
@media only screen and (max-width: 768px) {
    footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    footer #footer__redes p {
      font-size: smaller;
    }
}

#estilo__link {
    text-decoration: none;
}
  
#estilo__link :hover {
    color: #a08f8e;
}